{% extends "templates/base.html" %}
{% block content %}
<!-- https://ihatetomatoes.net/simple-parallax-scrolling-tutorial/ -->
<main>
        <section id="slide-1" class="homeSlide">
            <div class="bcg">
                <div class="hsContainer">
                    <div class="hsContent">
                    	<h1>Chengdu is where Yin was born and raised up...</h1>
                        <h2>It is a city with a long history of over 2000 years. Now this city is grown into the center of southwest China and is nation-wide known for its leisure culture. This is a place that "you would never want to leave."</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="slide-2" class="homeSlide">
		    <div class="bcg">
		        <div class="hsContainer">
		            <div class="hsContent">
		                <h1>In Chengdu, You Meet Panda AND Hotpot!</h1>
                        <h2>The fertile Chengdu Plain, on which Chengdu is located, is also known as the "Country of Heaven" (Chinese: 天府之国; pinyin: Tiānfǔzhiguó), a phrase also often translated as "The Land of Abundance". </h2>
		            </div>
		        </div>
		    </div>
		</section>
        <section id="slide-3" class="homeSlide">
		    <div class="bcg">
		        <div class="hsContainer">
		            <div class="hsContent">
		                <h1>College time in Sun Yat-sen University.</h1>
                        <h2>Sun Yat-sen University is located in Guangzhou, which is the best university in Southern China. Yin spent her 4 year here studying library science, at School of Information Management. </h2>
		            </div>
		        </div>
		    </div>
		</section>
		<section id="slide-4" class="homeSlide">
		    <div class="bcg">
		        <div class="hsContainer">
		            <div class="hsContent">
		                <h1>In 2015, Yin came to Ann Arbor for her Master degree.</h1>
                        <h2>School of Information, University of Michigan is one of the best ischools around the world. Now Yin is specializing in Human Computer Interaction (HCI).</h2>
                        <h2>Explore this website to see what she has achieved!</h2>
		            </div>
		        </div>
		    </div>
		</section>
		<section>
        	<div class="container-fluid bg-3 text-center">    
			  	<div id="dscpt-1" class="row">
				    <div id="recenttwitterfeed" class="col-sm-4"><blockquote class="twitter-tweet" data-lang="zh-cn"><p lang="en" dir="ltr">We are going to miss our <a href="https://twitter.com/hashtag/umsiasb16?src=hash">#umsiasb16</a> students. Great work! We can&#39;t wait to see all the you accomplish! <a href="https://t.co/jGeSKsdZPN">pic.twitter.com/jGeSKsdZPN</a></p>&mdash; GWU Spec Collections (@GWUArchives) <a href="https://twitter.com/GWUArchives/status/705799332042293248">2016年3月4日</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			    <div class="col-sm-4">
			    	<a class="twitter-timeline" href="https://twitter.com/XieYin920" data-widget-id="716841025562681344">@XieYin920的推文</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			    </div>
			    <div id="beafriend" class="col-sm-4">
			    		<h1>Want to know more?<br>Be a friend!</h1>
			    		<p>Reach out to me on Facebook or Twitter.</p>
			    		<p>Or send me a message <a href="contactme.html">here</a>.</p>
						<a href="https://www.facebook.com/profile.php?id=100004711665788"><img class="img-responsive" src="static/facebook.png" alt="facebook"></a>
						<a href="https://twitter.com/XieYin920"><img class="img-responsive" src="static/twitter.png" alt="twitter"></a>
			    </div>
			    </div>
        	</div>
        </section>
    </main>
    <br><br><br>
{% endblock %}